* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: montserrat;
}

.gallery-main {
    display: none;
}

.editor-main {
    display: none;
    margin-top: 13px;
}

.canvas-container {
    min-width: 450px;
}

canvas {
    border: 2px solid black;
    display: block;
    border-radius: 5px;
    width: 100%;
}

button {
    border: unset;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.social-main ul li {
    margin-inline-end: 30px;
}

.social-main li a {
    font-size: 2.5rem;
    color: rgb(223, 221, 221);
}

.fa-facebook-square:hover {
    color: var(--clr3);
}

.fa-twitter-square:hover {
    color: var(--clr4);
}

.fa-dribbble-square:hover {
    color: var(--clr5);
}